.product-management{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.product-edit{
    flex: 0 0 35%;
}

.dual-btn{
    margin-right: 20px;
}

.alert {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}