.catalog h1{
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
}
.catalog .products{
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  padding: 5%;
  flex-grow: 1;
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 920px) {
  .catalog {
    flex: 1 21%;
  }
}

